.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
terraform.tfvars
*.tfplan
.venv/
__pycache__/
*.py[cod]
.helm-tmp/
.helm-final-check/
.aws-local/
.terraform-tmp/
.terraform-plugin-cache/
bootstrap/*.tfplan
.kube-local/
