aws_region                   = "us-east-1"
cluster_name                 = "django-eks-cluster"
ecr_repository_name          = "lesson-5-ecr"
git_repository_url           = "https://github.com/Anastasia-Danyliuk/lesson-5-terraform.git"
git_revision                 = "lesson-8-9"
github_username              = "Anastasia-Danyliuk"
github_token                 = "github-fine-grained-token"
jenkins_aws_access_key_id     = "AWS_ACCESS_KEY_ID"
jenkins_aws_secret_access_key = "AWS_SECRET_ACCESS_KEY"
